* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header section styles */

header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 230px 0;
    margin-bottom: 47px;
}

.nav-title {
    font-size: 45px;
    font-weight: bold;
    color: #181818;
}

nav h1 span {
    color: #FD6E0A;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    color: #474747;
    font-size: 20px;
}

.primary-button {
    color: #ffffff;
    background-color: #FD6E0A;
    padding: 18px 36px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 230px;
    padding-right: 38px;

}

.header-banner h3 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.header-banner h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.header-banner p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    width: 585px;
}

.fa-download {
    margin-right: 10px;
}

.secondary-button {
    color: #FD6E0A;
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
    padding: 18px 24px;
    font-size: 18px;
    font-weight: bold;
}

.fa-phone {
    margin-right: 10px;
    color: #FD6E0A;
}

/* Main section styles */

main {
    margin: 0 230px;
}

/* About Me Section styles */

.about-me {
    background-color: #FFF8F3;
    margin: 130px 0;
    padding: 130px 156px;
    border-radius: 10px;
    text-align: center;
}

.about-me .title {
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-me .description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.address {
    display: flex;
    gap: 50px;
    justify-content: space-around;
}

.address p {
    color: #757575;
    font-size: 18px;
}

.address h5 {
    color: #181818;
    font-size: 20px;
    font-weight: bold;
}

/* What I do Styles */

.skills-portion {
    margin-bottom: 130px;
}

.skills-portion .title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
    text-align: center;
}

.skills-portion .description {
    font-size: 18px;
    color: #757575;
    margin: 0 auto 50px;
    text-align: center;
    width: 909px;
}

.skills {
    display: flex;
    gap: 24px;
}

.skills-content {
    box-shadow: 0 6px 50px #f3f3f3;
    border-radius: 5px;
    padding: 30px;
}

.skills-content img {
    margin-bottom: 30px;
}

.skills-content h4 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.skills-content p {
    color: #757575;
}

/* Resume section Styles */

.resume-headline {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 113px;
    text-align: center;
    color: #181818;
}

.resume-summary {
    display: flex;
    gap: 71px;
    margin-bottom: 20px;
}

.resume-summary .title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.resume-summary .sub-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.resume-summary .institute {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-summary .description {
    color: #757575;
    margin-bottom: 30px;
}

hr {
    margin-bottom: 30px;
}

.download-btn {
    text-align: center;
    margin-bottom: 113px;
}

/* footer section styles */