body {
    max-width: 1584px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

/* ------------------
Common styles
-------------------- */

main {
    margin: 0 14.5vw;
}

section {
    margin-top: 8.2vw;
}

.title {
    font-size: 2.25vw;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.btn-primary {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FD6E0A;
    padding: 18px 36px;
    border: 0;
    border-radius: 5px;
}

.btn-outline {
    font-size: 1.25vw;
    font-weight: bold;
    color: #FD6E0A;
    background-color: transparent;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 17px 36px;
    margin-left: 30px;
}

/*-------------------------
 header section styles 
 -------------------------*/

header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

/* -----------------
    NavBar styles
 ------------------*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 3.25vw 14.5vw 0;
    margin-bottom: 3vw;
}

.nav-logo {
    font-size: 2.84vw;
    font-weight: 900;
    color: #181818;
}

.special-color-character {
    color: #FD6E0A;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2vw;
    align-items: center;
    color: #474747;
    font-size: 20px;
}

/* --------------------
      Banner styles
--------------------- */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 14.5vw;
    padding-right: 2.4vw;
}

.developers-greeting {
    font-size: 2.84vw;
    font-weight: 600;
    color: #474747;
}

.developer-name {
    font-size: 5.37vw;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.fa-download {
    margin-right: 10px;
}

.fa-phone {
    margin-right: 10px;
    color: #FD6E0A;
}

.developer-picture img {
    width: 100%;
}

/*-----------------------
  About Me Section styles
-------------------------*/

.about-me {
    background-color: #FFF8F3;
    padding: 8.2vw 9.85vw;
    border-radius: 10px;
    text-align: center;
}

.developer-info {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #757575;
}

.developer-info p,
h5 {
    margin: 0;
}

.developer-specific-info {
    font-weight: bold;
    color: #474747;
}

/*------------------
 What I do Styles 
 -----------------*/


.what-i-do {
    text-align: center;
}

.what-i-do .description {
    margin-bottom: 50px;
}

.skills {
    display: flex;
    gap: 24px;
}

.skills-content {
    box-shadow: 0 6px 50px #f3f3f3;
    border-radius: 5px;
    padding: 30px;
}

.skill-name {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.skills-content .description {
    font-size: 16px;
    text-align: left;
}

/*----------------------
 Resume section Styles 
 ------------------------*/

.my-resume .title {
    margin-bottom: 7.1vw;
    text-align: center;
}

.resume-summary {
    display: flex;
    gap: 71px;
    margin-bottom: 20px;
}

.resume-sub-title {
    font-size: 2vw;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.degree-name,
.job-position {
    font-size: 1.5vw;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.institution {
    font-size: 1.25vw;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-sub-title .description {
    font-size: 16px;
}

hr {
    margin-bottom: 30px;
}

.download-btn {
    text-align: center;
    margin-bottom: 113px;
}

/*
 footer section styles 

footer {
    background-color: #FFF8F3;
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}

footer h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

footer p {
    color: #474747;
    margin-bottom: 30px;
}

.twitter {
    margin: 0 24px;
}

input {
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin-bottom: 24px;
    padding: 18px 0px 18px 30px;
}

textarea {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 18px 0 0 30px;
    margin-bottom: 24px;
} */

/* ----------------------------------
Responsive styles for small device 
------------------------------------*/

@media only screen and (max-width:688px) {

    header {
        background-size: contain;
    }

    nav,
    .nav-links {
        flex-direction: column;
    }

    .nav-links {
        align-items: start;
        padding-left: 0;
        gap: 1vw;
    }

    .nav-links,
    .btn-primary,
    .btn-outline {
        font-size: 16px;
    }

    .btn-outline {
        margin: 20px 0;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: start;
    }

    .about-me {
        text-align: left;
    }

    .developer-info,
    .skills,
    .resume-summary {
        flex-direction: column;
        gap: 16px;
    }

    .what-i-do {
        text-align: left;
    }

    .title {
        font-size: 3.5vw;
        ;
    }

    .resume-sub-title {
        font-size: 3vw;
    }

    .degree-name,
    .job-position {
        font-size: 2.5vw;
    }

    .institution {
        font-size: 2vw;
    }
}

/* ----------------------------------
Responsive styles for medium device 
------------------------------------*/

@media only screen and (min-width:689px) and (max-width:992px) {
    .btn-outline {
        margin: 20px 0;
    }

    .developer-info,
    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 18px;
    }
}

.hide {
    display: none;
}